.menu {
    position: relative;
    &__close {
        position: absolute;
        right: 0;
        top: -20px;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    &__item {
        .socials {
            &__item {
               svg {
                width: 30px;
                height: 30px;
               }
            }
        }
        & + * {
            margin-top: 24px;
        }
        .link {
            @include font-size-get(h3);
        }
    }
}
