.fact {
    display: flex;
    align-items: center;
    padding: 32px;
    background: $c-white;
    border-radius: 8px;
    transition: .3s ease-in-out;
    height: 100%;
    min-height: 200px;
    &:hover {
        transform: translateY(-10px);
    }
    @include respond-to(lg) {
        padding: 16px;
        flex-direction: column-reverse;
    };
    @include respond-to(md) {
        padding: 16px
    };
    justify-content: space-between;
    &__title {
        font-weight: 500;
        @include font-size-get(h3);
        & + * {
            margin-top: 16px;
            @include respond-to(lg) {
                margin-top: 12px;
            };
        }
    }
    &__desc {
        @include font-size-get(p1);
    }
    &__content {
        @include respond-to(md) {
            margin-top: 16px;
        };
        & + * {
            margin-left: 12px;
            @include respond-to(md) {
                margin-left: 0px;
            };
        }
    }
    &__icon {
        width: 80px;
        height: 80px;
        display: flex;
        background: $c-light-gray;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @include respond-to(lg) {
            width: 70px;
            height: 70px;
        };
        @include respond-to(md) {
            width: 60px;
            height: 60px;
        };
        svg {
            fill: $c-blue;
            width: 50%;
            height: 50%;
        }
    }
}
