.section {
    & + & {
        margin-top: 100px;
        @include respond-to(lg) {
            margin-top: 80px;
        };
        @include respond-to(md) {
            margin-top: 48px;
        };
    }
    & + &--mt-0 {
        margin-top: 0;
    }
    & + &--mt-120 {
        margin-top: 120px;
    }
    &--first {
        margin-top: 32px;
    }
    &--colored {
        padding: 80px 0;
        @include respond-to(lg) {
            padding: 60px 0;
        };
        @include respond-to(md) {
            padding: 32px 0;
        };
        background-color: $c-light-gray;
    }
    &__header {

        &-title {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            @include font-size-get(h2);
            font-weight: 600;
            // &::before {
            //     content: '';
            //     width: 88px;
            //     height: 2px;
            //     position: absolute;
            //     background: $c-light-blue;
            //     top: -20px
            // }
        }
        & + * {
            margin-top: 42px;
        }
    }
}
