<div class="promo">
    <div class="row gy-3">
        <div class="col-lg-6">
            <div class="promo__text">
                В рамках спецификации современных стандартов, непосредственные участники технического прогресса формируют глобальную экономическую сеть и при этом - в равной степени предоставлены сами себе. Равным образом, социально-экономическое развитие напрямую зависит от новых предложений в будущем.
            </div>
        </div>
        <div class="col-lg-6">
           <div class="promo__video">
            <iframe src="https://vk.com/video_ext.php?oid=-118001891&id=456239052&hash=fd1026cf7538366a&hd=2" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
           </div>
        </div>
    </div>
</div>
