<div class="project-card">
    <img class="project-card__image" src={{img}} alt="">
    <div class="project-card__content">
        <div class="project-card__title">
            {{title}}
        </div>
        <div class="project-card__adress">
            {{adress}}
        </div>
    </div>
    <div class="project-card__aside">
        <div class="project-card__aside-title">
            Работа на проекте
        </div>
        <ul class="project-card__aside-desc">
            <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident.
            </li>
            <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident.
            </li>
            <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident.
            </li>
        </ul>
        <div class="project-card__aside-button">
            {{>uikit/buttons/markup type="stroke" text="Узнать подробнее" href="#section-form"}}
        </div>
    </div>
</div>
