<div class="reviews">
    <div class="reviews-card">
        <img src="static/img/content/reviews/review.jpeg" alt="">
        <div class="reviews-card__aside">
            <div class="reviews-card__content">
                <div class="reviews-card__title">
                   <span class="reviews-card__index">01</span> <span class="reviews-card__text">Проводка в квартире</span>
                </div>
            </div>
            <div class="reviews-card__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolor animi sapiente sunt incidunt rerum eaque obcaecati! Dolore doloribus quidem maxime consequuntur? Labore corporis ad sit doloremque minus ex accusamus.
            </div>
        </div>
    </div>
    <div class="reviews-card">
        <img src="static/img/content/reviews/review2.jpeg" alt="">
        <div class="reviews-card__aside">
            <div class="reviews-card__content">
                <div class="reviews-card__title">
                   <span class="reviews-card__index">01</span> <span class="reviews-card__text">Проводка в квартире</span>
                </div>
            </div>
            <div class="reviews-card__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolor animi sapiente sunt incidunt rerum eaque obcaecati! Dolore doloribus quidem maxime consequuntur? Labore corporis ad sit doloremque minus ex accusamus.
            </div>
        </div>
    </div>
    <div class="reviews-card">
        <img src="static/img/content/reviews/review.jpeg" alt="">
        <div class="reviews-card__aside">
            <div class="reviews-card__content">
                <div class="reviews-card__title">
                   <span class="reviews-card__index">01</span> <span class="reviews-card__text">Проводка в квартире</span>
                </div>
            </div>
            <div class="reviews-card__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolor animi sapiente sunt incidunt rerum eaque obcaecati! Dolore doloribus quidem maxime consequuntur? Labore corporis ad sit doloremque minus ex accusamus.
            </div>
        </div>
    </div>
    <div class="reviews-card">
        <img src="static/img/content/reviews/review2.jpeg" alt="">
        <div class="reviews-card__aside">
            <div class="reviews-card__content">
                <div class="reviews-card__title">
                   <span class="reviews-card__index">01</span> <span class="reviews-card__text">Проводка в квартире</span>
                </div>
            </div>
            <div class="reviews-card__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolor animi sapiente sunt incidunt rerum eaque obcaecati! Dolore doloribus quidem maxime consequuntur? Labore corporis ad sit doloremque minus ex accusamus.
            </div>
        </div>
    </div>


</div>
