<div class="gallery swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide gallery__item">
            <img src="static/img/content/gallery/main.jpeg" alt="">
        </div>
        <div class="swiper-slide gallery__item">
            <img src="static/img/content/gallery/main.jpeg" alt="">
        </div>
        <div class="swiper-slide gallery__item">
            <img src="static/img/content/gallery/main.jpeg" alt="">
        </div>
        <div class="swiper-slide gallery__item">
            <img src="static/img/content/gallery/main.jpeg" alt="">
        </div>
    </div>
    <div class="swiper-button-prev">
        <div class="gallery__button gallery__button--prev">
            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.328 6.99999L8.278 11.95L6.864 13.364L0.5 6.99999L6.864 0.635986L8.278 2.04999L3.328 6.99999Z"
                    fill="#fff" />
            </svg>
        </div>
    </div>
    <div class="swiper-button-next">
        <div class="gallery__button gallery__button--next">
            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.328 6.99999L8.278 11.95L6.864 13.364L0.5 6.99999L6.864 0.635986L8.278 2.04999L3.328 6.99999Z"
                    fill="#fff" />
            </svg>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
