.socials {
    display: flex;
    align-items: center;
    margin: 0;
    &__item {
        & + * {
            margin-left: 10px;
        }
        svg {
            opacity: 0.6;
            transition: .3s ease-in-out;
        }
        &:hover {
            svg {
                opacity: 1;
            }
        }
    }
}
