<div class="services">
    <div class="services__item">
        <div class="services__content">
            <div class="services__title">
                Подключение электроприборов
            </div>
            <div class="services__desc">
                Подключение электроплиты, духовых шкафов и других электроприборов.
            </div>
        </div>
        <div class="services__price">
            <span class="services__price--main">1000₽</span>
            <del class="services__price--old">2000₽</del>
        </div>
    </div>
    <div class="services__item">
        <div class="services__content">
            <div class="services__title">
                Подключение электроприборов
            </div>
            <div class="services__desc">
                Подключение электроплиты, духовых шкафов и других электроприборов.
            </div>
        </div>
        <div class="services__price">
            <span class="services__price--main">1000₽</span>
            <del class="services__price--old">2000₽</del>
        </div>
    </div>
    <div class="services__item">
        <div class="services__content">
            <div class="services__title">
                Подключение электроприборов
            </div>
            <div class="services__desc">
                Подключение электроплиты, духовых шкафов и других электроприборов.
            </div>
        </div>
        <div class="services__price">
            <span class="services__price--main">1000₽</span>
            <del class="services__price--old">2000₽</del>
        </div>
    </div>
    <div class="services__item">
        <div class="services__content">
            <div class="services__title">
                Подключение электроприборов
            </div>
            <div class="services__desc">
                Подключение электроплиты, духовых шкафов и других электроприборов.
            </div>
        </div>
        <div class="services__price">
            <span class="services__price--main">1000₽</span>
            <del class="services__price--old">2000₽</del>
        </div>
    </div>
    <div class="services__item">
        <div class="services__content">
            <div class="services__title">
                Подключение электроприборов
            </div>
            <div class="services__desc">
                Подключение электроплиты, духовых шкафов и других электроприборов.
            </div>
        </div>
        <div class="services__price">
            <span class="services__price--main">1000₽</span>
            <del class="services__price--old">2000₽</del>
        </div>
    </div>
</div>
