<div class="slider slider--main">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <div class="slider__content">
                             <h4 class="slider__subtitle">Услуги частного электрика</h4>
                             <h1 class="slider__title">Здравствуйте <br> меня зовут Георгий </h1>
                             <p class="slider__desc">
                                 Я частный мастер. Обычно всю работу я выполняю сам. У меня нет офиса, бухгалтера и штата сотрудников, которым нужно платить зарплату. Поэтому я могу дать цены ниже рыночных.
                             </p>
                            <div class="slider__button">
                                {{>uikit/buttons/markup type="blue" text="Оставить заявку" href="#section-form"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="slider__image">
                             <img src="static/img/content/main-slider/slide1.jpeg" alt="">
                         </div>
                    </div>
                </div>
            </div>
</div>
